<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="false">
        <!-- 登录页面不需要控制权限 -->
        <intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!-- 访问其他所有页面都需要有USER权限 -->
        <intercept-url pattern="/**" access="ROLE_USER" />
        <!-- 配置登录页面地址login-page、登录失败后的跳转地址authentication-failure-url -->
        <form-login login-page='/login.jsp' authentication-failure-url='/login.jsp?error' default-target-url="/index.jsp" />
        <!-- 登出功能 -->
        <logout />
        <csrf disabled="true" />

        <!-- 指定自定义过滤器 -->
        <!--<custom-filter ref="authenticationFilter" before="FORM_LOGIN_FILTER" />-->
             <!--如果之前配置http标签，这里只将remember-me放进去就好了-->
            <remember-me />
        <!--默认的Remember Me有效时间时14天，还可以通过token-validity-seconds属性自定义有效时长（单位：秒）-->

        <!--是否开启csrf防御-->
        <csrf disabled="true" />

    </http>
    <!--配置不受Spring Security管理的URL 可以对这些URL配置security=”none”-->
    <!--<http pattern="/resources/css/**" security="none"/>-->

    <!-- 自定义过滤器 -->
    <!--<beans:bean id="authenticationFilter" class="com.snow.security4.controller.TestLoginFilter">-->
        <!--<beans:property name="filterProcessesUrl" value="/login" />-->
        <!--<beans:property name="authenticationManager" ref="authenticationManager" />-->
    <!--</beans:bean>-->



    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <!-- 这里创建两个用户，可以通过用户名密码登录 -->
                <user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="bob" password="bobspassword" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>



    <!-- 配置数据源 -->
    <beans:bean id="dataSource"
                class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/CTB?serverTimezone=GMT" />
        <beans:property name="username" value="mzh" />
        <beans:property name="password" value="mzh" />
    </beans:bean>
<!--密码加密-->
    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="passwordEncoder" class="springSecurity.PasswordEncoderImpl" />

</beans:beans>